<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
</head>
<body>
  <h2>{{message}}</h2>
  <h3>Angular{{version}} Topics</h3>
  <div>
    Enter topic:
    <input type="text" placeholder="topic name" #currentTopic/>
    <button type="button" (click)="addTopic(currentTopic.value)">Add</button>
    <button type="button" (click)="deleteTopic1(currentTopic.value)">DeleteTopic</button>
    <button type="button" (click)="searchTopic(currentTopic.value)">Search</button>
    
  </div>
  <br><br>
  
  <table class="center">
    <thead>
      <tr>
        <td>Topic Id</td>
        <td>Topic Name</td>
        <td>Action</td>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let i=index; let topic of topics">
        <td>
          {{i+1}}
        </td>
        <td>
          {{topic}}
        </td>
        <td>
          <button type="button" (click)="deleteTopic(i)">Delete</button>
        </td>
      </tr>
    </tbody>
    <tfoot>No of topics:{{topics.length}}
      
    </tfoot>
  </table>

</body>
</html>